<% @page_title = 'Dashboard' %>

<h2>Pages</h2>

<div class="container">
  <div class="card-group">
    <% @pokemons.each do |pokemon| %>

    <div class="card text-dark bg-light px-3">
      <img src=<%= pokemon.sprite %> class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= pokemon.name %></h5>
      </div>
    </div>
    <% end %>
  </div>
</div>