<%= error_messages_for(f.object) %>

<table summary="Pokemon form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Height</th>
    <td><%= f.text_field(:height) %></td>
  </tr>
  <tr>
    <th>Weight</th>
    <td><%= f.text_field(:weight) %></td>
  </tr>
</table>
