<%= link_to("<< Back to List", pokemons_path, :class => 'back-link') %>

<%= form_for(@pokemon, :url => pokemons_path(@pokemon)) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <div class="form-buttons">
    <%= f.submit("Save Pokemon") %>
  </div>
<% end %>