<%= form_for(@pokemon, :url => pokemons_path(@pokemon)) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <div class="form-buttons">
    <%= f.submit("Update Pokemon") %>
  </div>
<% end %>