<h2>Add New Pokemon</h2>

  <%= form_for(@pokemon) do |f| %>

    <%= render(partial: 'form', locals: { f: f }) %>

    <div class="form-buttons">
      <%= f.submit("Create Pokemon") %>
    </div>

  <% end %>
</div>
