// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table {
  background: #fff;
  border: solid 1px #999;
  border-collapse: collapse;

  td, th {
    padding: 10px;
  }

  tr:nth-child(odd) {
    td {
      background: #f5f5f5;
    }
  }
}