<% @page_title = "Admin Menu" %>

<div class="menu">
    <ul>
        <li><%= link_to("See my pokemons", pokemons_index_path)%></li>
        <li><%= link_to("Add new Pokemon", pokemons_edit_path)%></li>
        <li><%= link_to("Logout", access_logout_path)%></li>
    </ul>
</div>