<% @page_title = "New Pokemon Card" %>

<%= link_to("<< Back to List", pokemon_cards_path, :class => 'back-link') %>

<div class="pokemon-card new">
  <h2>Create Pokemon Card</h2>

  <%= form_for(@pokemon_card) do |f| %>

    <%= render(:partial => 'form', :locals => { :f => f }) %>

    <div class="form-buttons">
      <%= f.submit("Create Pokemon Card") %>
    </div>

  <% end %>
</div>