<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
  <div class="container-fluid">
    <%= link_to("PokeApp", root_path, :class => 'navbar-brand') %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <% if session[:user_id] %>
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%= link_to('Logout', access_logout_path, :class => "btn btn-danger me-2") %>
      </div>
      <% else %>
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%= link_to('Login', access_login_path, :class => "btn btn-primary me-2") %>
      </div>
      <% end %>
    </div>
  </div>
</nav>